.principal_image {
    background-image: url("/imagens/banner-sobre.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.principal_image h1 {
    font-size: 100px;
    position: absolute;
    top: 300px;
    left: 400px;
    text-shadow: 3px 5px 2px #474747;
    color: #fff;
}

.container_textual {
    width: 100%;
    max-width: 1024px;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    text-align: center;
}

.container_textual h2 {
    font-size: 32px;
}

.container_textual span {
    font-size: 20px;
    font-weight: 500;
}

.container_textual p {
    font-size: 16px;
}

.main_container {
    width: 100%;
    display: flex;
}

.container_image {
    width: 50%;
    position: relative;
    aspect-ratio: 16/9;
}

.div_image {
    object-fit: cover;
}

/* Responsividade - 375px até 767px (Mobile) */
@media (min-width: 375px) and (max-width: 767px) {
    .principal_image h1 {
        font-size: 40px;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .container_textual {
        padding: 50px 15px;
        gap: 20px;
    }

    .container_textual h2 {
        font-size: 24px;
    }

    .container_textual span {
        font-size: 16px;
    }

    .container_textual p {
        font-size: 14px;
    }

    .main_container {
        flex-direction: column;
    }

    .container_image {
        width: 100%;
        aspect-ratio: 4/3;
    }
}

/* Responsividade - 768px até 1023px (Tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
    .principal_image h1 {
        font-size: 60px;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .container_textual {
        padding: 70px 20px;
        gap: 25px;
    }

    .container_textual h2 {
        font-size: 28px;
    }

    .container_textual span {
        font-size: 18px;
    }

    .container_textual p {
        font-size: 15px;
    }

    .main_container {
        flex-direction: column;
    }

    .container_image {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

/* Responsividade - 1024px até 1280px (Desktop) */
@media (min-width: 1024px) and (max-width: 1280px) {
    .principal_image h1 {
        font-size: 80px;
        top: 280px;
        left: 450px;
    }

    .container_textual {
        padding: 80px 20px;
        gap: 25px;
        max-width: 900px;
    }

    .container_textual h2 {
        font-size: 30px;
    }

    .container_textual span {
        font-size: 19px;
    }

    .container_textual p {
        font-size: 16px;
    }

    .main_container {
        flex-direction: row;
    }

    .container_image {
        width: 50%;
    }
}
